body{
	width:80%;
	margin: auto;
}
header{
	
}
nav{
	
}
nav ul{
	list-style:none;
    list-style-type:none;
    direction:ltr;
    font-size: large;
}
nav li{
	display: inline;
}
nav li a{
	text-decoration: none;
	font-size: larger;
	margin-right: 0.5em;
}
.Personal-info-Container{
	width: 90%;
	margin: auto;
	border: 1px solid lightgrey;
}
.Personal-info-Container table{
	margin: auto;
}